In [ ]:
import numpy as np
import pandas as pd

# Load and explore data
df = pd.read_csv("../data/ACE_MAGSWE_Data.txt", delim_whitespace=True, comment="%", na_values= -9999.9)
print(df.head())
df.describe()

/tmp/ipykernel_15993/3689849702.py:4: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv("../data/ACE_MAGSWE_Data.txt", delim_whitespace=True, comment="%", na_values= -9999.9)

   2003  276  0  0.1   8.035  4.184  -452.09  54.28  -1.13  9.352  -10.158  \
0  2003  276  0    1  12.058  4.167  -453.39  51.84  -8.75  9.372   -9.990
1  2003  276  0    2  15.994  4.497  -449.36  63.72 -19.31  9.523   -9.466
2  2003  276  0    3  20.016  5.028  -455.07  69.84 -27.11  9.474   -9.246
3  2003  276  0    4  24.038  4.788  -458.96  78.00 -38.82  9.852   -8.479
4  2003  276  0    5  27.974  4.581  -459.17  67.17 -17.95  9.838   -9.488

   -1.318  1.4230e+06  1.3286e+05  -1.5612e+05
0  -2.309   1423000.0    132820.0    -156160.0
1  -3.524   1423000.0    132770.0    -156200.0
2  -4.041   1423000.0    132730.0    -156240.0
3  -4.940   1423000.0    132690.0    -156290.0
4  -2.789   1423000.0    132650.0    -156330.0

,2003,276,0,0.1,8.035,4.184,-452.09,54.28,-1.13,9.352,-10.158,-1.318,1.4230e+06,1.3286e+05,-1.5612e+05
count,72899.0,72899.000000,72899.000000,72899.000000,72899.000000,64380.000000,65759.000000,65759.000000,65759.000000,72899.000000,72899.000000,72899.000000,7.289900e+04,72899.000000,72899.000000
mean,2003.0,302.500364,11.493491,29.439210,29.861436,5.073507,-562.403554,-2.113959,-0.693107,0.013004,-0.285957,0.071358,1.477152e+06,168343.465754,-174723.082662
std,0.0,15.585689,6.922468,17.317893,17.315016,4.522111,121.155357,36.079094,27.771125,5.982613,6.217433,6.305421,3.779133e+04,37109.925901,52273.801033
min,2003.0,276.000000,0.000000,0.000000,0.000000,0.170000,-1251.470000,-166.450000,-176.350000,-42.019000,-44.805000,-53.847000,1.423000e+06,73503.000000,-250760.000000
25%,2003.0,289.000000,5.000000,14.000000,14.995000,2.794000,-630.380000,-25.130000,-17.600000,-4.087000,-3.773000,-2.535000,1.441500e+06,141820.000000,-214570.000000
50%,2003.0,303.000000,12.000000,29.000000,30.010000,4.144000,-552.550000,-7.430000,-1.660000,0.656000,-0.644000,0.102000,1.477600e+06,167080.000000,-185580.000000
75%,2003.0,316.000000,17.000000,44.000000,45.014000,5.530000,-478.070000,17.060000,17.010000,4.305500,3.218000,2.798000,1.507600e+06,196040.000000,-142550.000000
max,2003.0,329.000000,23.000000,59.000000,59.990000,78.641000,-291.800000,199.140000,191.780000,27.750000,44.232000,46.626000,1.543400e+06,240630.000000,-33923.000000